__pycache__/SessionState.cpython-39.pyc
app.db
__pycache__/db.cpython-39.pyc
__pycache__
__pycache__/db.cpython-39.pyc
app2.db
__pycache__/db.cpython-39.pyc
__pycache__/
__pycache__/insert.cpython-39.pyc
